<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PJS4_Version2</display-name>
  <servlet>
    <servlet-name>verification</servlet-name>
    <servlet-class>controle.ServletAuthentification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verification</servlet-name>
    <url-pattern>/verification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inscription</servlet-name>
    <servlet-class>controle.ServletInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreerTache</servlet-name>
    <servlet-class>controle.ServletGestionTache</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerTache</servlet-name>
    <url-pattern>/CreerTache</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TacheP</servlet-name>
    <servlet-class>controle.ServletTachePartagees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TacheP</servlet-name>
    <url-pattern>/servletTacheP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionCompte</servlet-name>
    <servlet-class>controle.ServletGestionCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionCompte</servlet-name>
    <url-pattern>/ajoutAmi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifProfil</servlet-name>
    <servlet-class>controle.ServletGestionCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifProfil</servlet-name>
    <url-pattern>/ModifProfil</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletDeco</servlet-name>
    <servlet-class>controle.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeco</servlet-name>
    <url-pattern>/ServletDeco</url-pattern>
  </servlet-mapping>
  
</web-app>